.Playlist {
  width: 50%;
  height: 950px;
  padding: 0.88rem 1.16rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
